---

---

<nav class="fixed top-0 flex justify-between items-center w-full h-16 px-8 bg-gray-500">
  <figure>
    {
      //TODO: LOGO
    }
    Logo
  </figure>
  <ul class="flex gap-8">
    <li>
      <a href="/register" class="px-6 py-2 bg-blue-600 text-white rounded-lg">
        Crear Cuenta
      </a>
    </li>
    <li>
      <a href="/login" class="px-6 py-2 bg-blue-600 text-white rounded-lg">
        Iniciar Sesion
      </a>
    </li>
  </ul>
</nav>
